@import url("https://fonts.googleapis.com/css?family=Mulish");

.button {
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 5% 52%;
    display: flex;
    min-width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: "Mulish";
    font-size: 32px;
    color: #E0E0E0;
    white-space: nowrap;
    cursor: pointer;
}