@import url("https://fonts.googleapis.com/css?family=Mulish");

.log {
  font-size: 2rem;
  color: #e0e0e0;
  font-weight: 400;
}


label > img {
  position: absolute;
  right: -10%;
  transition: 1s ease-in-out;
}

.onFocus{
    right: 1rem;
} 

label {
  position: relative;
}
