.redirectBody{
    display: flex;
    flex-direction: column;
    font-family: "Mulish";
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    justify-content: space-evenly;
    align-items: center;
}

.redirectDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}


.textRedirect{
    color: #ffffff;

}

.loadingRedirect {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid orange;
    border-top-color: purple;
    animation: spin 0.5s infinite linear;
    margin-left: 2%;
    margin-bottom: 15%;
  }